<html>
<head>
    <title>Angular JS</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="angular.js"></script>
   <!-- <script src="main.js"></script>-->
    <style>
        .btn-false.btn-edit{display:inline-block;}.btn-true.btn-edit{display:none;}
        .btn-false.btn-save{display:none;}.btn-true.btn-save{display:inline-block;}
         .edit-false span{display:inline-block;}.edit-true span{display:none;}
        .edit-false input{display:none;}.edit-true input{display:inline-block;}
        body{background-color: #E6E6FA;}
    </style>
</head>

<body ng-app="myApp">
    <div ng-controller="ContactsCtrl" style="padding:10px;">
        <div class="container-fluid" style="background-color: #00FFBF">
        <h1 align="center">Contacts Manager</h1>
        </div>

        <br/>

        <table align="center">
         <td>  
         <h4 align="center">New Contact</h4><br/>
        <form ng-submit="addContact()">

        <ul class="unstyled">
            <li>
               Name: <input type="text" ng-model="cName" required>
            </li>
            <br/>
            <li>
               E-mail: <input type="email" ng-model="cEmail" required>
            </li>
            <br/>
            <li>
               Phone: <input type="number" ng-model="cPhone" required>
            </li>
            <br/>
            Select Storage:
    <select ng-model="topic">
        <option value="s1">Internal</option>
        <option value="s2">Sdcard</option>
    </select>

     <div ng-switch="topic">
                <div ng-switch-when="s1">
                    <h5>Internal</h5>
                </div>

                <div ng-switch-when="s2">
                    <h5>Sdcard</h5>
                </div>
            </div>
        </ul>

            <button class="btn btn-primary">Add</button>
        </form>
        </td>
    </table>

    <hr/>

    <table border="1" align="center">
        <td colspan="5" width="70%">
        <h4 align="center">Contact List</h4>

        <ul class="unstyled">
            <li ng-repeat="contact in contacts | filter:{deleted: false}">
             
                <p class="edit-{{contact.edit}}"><span>Name: {{contact.name}}</span>
                    <br />
                    <input type="text" ng-model="contact.name" placeholder="Update Your Name" required>
                </p>
                <p class="edit-{{contact.edit}}"><span>Email: {{contact.email}}</span>
                    <br/>
                    <input type="email" ng-model="contact.email" placeholder="Update Your E-mail" required>
                </p>
                <p class="edit-{{contact.edit}}"><span>Phone: {{contact.phone}}</span>
                    <br/>
                    <input type="text" ng-model="contact.phone" placeholder="Update Your Number" required>
                </p>

                <button class="btn btn-danger" ng-click="deleteContact($index)">Delete</button>
                <button class="btn btn-info btn-{{contact.edit}} btn-edit" ng-click="editContact($index)">Edit</button>
                <button class="btn btn-success btn-{{contact.edit}} btn-save" ng-click="saveContact($index)">Save</button>
                 
                 <br/>
                 <br/>
            
            </li>
        </ul>
        </td>
    </table>

    </div>

    <script type="text/javascript">
        angular.module('myApp',[]).controller('ContactsCtrl',function ContactsCtrl($scope) {
    $scope.contacts = [{name:"Mahesh",email:"mahesh@freaks.com",phone:"9987765543",deleted: false,edit: false}];

    $scope.addContact = function () {
        $scope.contacts.push({ name: $scope.cName, email: $scope.cEmail, phone: $scope.cPhone, deleted: false, edit: false});
        $scope.cName = "";
        $scope.cEmail = "";
        $scope.cPhone = "";
    };

    $scope.deleteContact = function (index) {
        $scope.contacts[index].deleted = true;
    };

    $scope.editContact = function (index) {
        $scope.contacts[index].edit = true;
    };

    $scope.saveContact = function (index) {
        $scope.contacts[index].edit = false;
    }

})
    </script>

</body>
</html>